$cg-blue: #1d7aa2;
$dark-grey: #333333;
$light-grey: #f6f6f6;

$btn-color-success: #66c2b2;
$btn-color-success-hover: #4aad9c;

$btn-color-danger: #ee706c;
$btn-color-danger-hover: #db534f;

$btn-color-info: #1d7aa2;
$btn-color-info-hover: #10698f;

$btn-color-lime: #f5ffc1;
$btn-color-lime-hover: #e2f89f;

$link-color: #1d7aa2;